<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add menu category</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<!--Nav bar-->
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <span>
            <th:block th:if="not ${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar :: main-navbar"></div>
            </th:block>
            <th:block th:if="${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar-admin :: main-navbar"></div>
            </th:block>
        </span>
</th:block>
<th:block th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</th:block>
<!--    Middle section-->
<div class="container">
    <section class="mt-5">
        <div class="page-header">Create a new Menu Category</div>
        <form th:action="@{/menuCategory/add}" th:method="post" th:object="${menuCategory}" class="form-group">
            <label for="category">Category</label>
            <br>
            <input id="category" th:field="${menuCategory.description}" class="form-control" placeholder="Description"
                   th:required="required"/>
            <br>
            <input type="submit"/>

        </form>
    </section>

</div>
<!--    Footer-->
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>