<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update Restaurant</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <script src="/css/js/jquery.js"></script>
</head>
<body>

<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<!--Nav bar-->
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <th:block th:replace="fragments/navbar :: main-navbar"></th:block>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <th:block th:replace="fragments/navbar-admin :: main-navbar"></th:block>
    </th:block>
</th:block>
<th:block th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</th:block>
<section class="container">
    <div class="admin-page-header">Update Restaurant</div>
    <div class="card mt-1">
        <div class="section-header card-title text-white bg-secondary p-2 text-center">Restaurant Information</div>
        <form th:action="@{'/restaurant/' + ${restaurant.id} + '/edit'}" th:method="post" th:object="${restaurant}">
            <div class="container">
                <div class="form-group" id="restaurant-update">
                    <div class="row">
                        <div class="col-6"><label for="name">Name:&nbsp; </label>
                            <input id="name" th:field="${restaurant.name}" class="form-control"
                                   th:required="required"/></div>
                        <div class="col-6"><label for="phone_number">Phone Number: </label>
                            <input id="phone_number" th:field="${restaurant.phone_number}" class="form-control"
                                   th:required="required"/></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><label for="picture">Picture: </label>
                            <input id="picture" th:field="${restaurant.picture_url}" class="form-control"
                                   th:required="required"/></div>
                        <div class="col-6"><label for="airport">Airport: </label>
                            <input id="airport" th:field="${restaurant.airport}" class="form-control"
                                   th:required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"><label for="name">Gate: </label>
                            <input id="gate" th:field="${restaurant.gate}" class="form-control" th:required="required"/>
                        </div>
                        <div class="col-6"><label for="thumbnail">Thumbnail: </label>
                            <input id="thumbnail" th:field="${restaurant.thumbnail}" class="form-control"
                                   th:required="required"/></div>
                    </div>
                    <div class="sub-section-header p-1">Cuisines</div>
                    <div>
                        <th:block th:each="cuisine : ${cuisineList}">
                            <input type="checkbox" th:field="*{cuisines}" name="cuisines" th:value="${cuisine.id}"/>
                            <label th:text="${cuisine.description}"></label>&nbsp;
                        </th:block>
                        <th:block th:each="cuisine : ${newCuisines}">
                            <input type="checkbox" th:field="*{cuisines}" name="cuisines" th:value="${cuisine.id}"/>
                            <label th:text="${cuisine.description}"></label>&nbsp;
                        </th:block>
                    </div>

                    <input type="hidden" th:field="*{id}">
                    <input class="btn btn-warning p-2" type="submit" id="submitRestaurantUpdate"
                           value="Update Restaurant">
                </div>
            </div>
        </form>
    </div>
    <div class="card mt-0">
        <div class="section-header card-title text-white bg-secondary p-2 text-center">Add Menu Items</div>
        <th:set var="currentMenuCategory" value="${none}"/>
        <table id="table" class="table">
            <!--        <thead>-->
            <tr>
                <th id="dishType">Dish Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Add</th>
            </tr>
            <th:block th:each="menuItem : ${newMenuItemList}">
                <tr>
                    <!--                  <div th:text="${menuItem.getMenuCategory().getDescription()} != ${currentMenuCategory} ? ${menuItem.getMenuCategory().getDescription()} : ' ' " />-->
                    <!--                  <th:set var="currentMenuCategory" value="${menuItem.getMenuCategory().getDescription()}"/>-->

                    <form th:action="@{'/restaurant/' + ${menuItem.getId()} + '/addRestaurantMenuItem'}"
                          th:method="post"
                          th:object="${menuItem}" class="form-group">
                        <td><label th:text="${menuItem.getMenuCategory().getDescription()}"></label></td>
                        <td>
                            <input th:id="'Restaurant' + ${restaurantId}" th:value="${restaurantId}"
                                   class="form-control" th:required="required" th:name="restaurantId" type="hidden"/>
                            <label th:text="${menuItem.getTitle()}"></label>
                        </td>
                        <td>
                            <label th:text="${menuItem.getDescription()}"></label>
                        </td>
                        <td>
                            <label th:text="${menuItem.getPriceString()}"></label>
                        </td>
                        <td>
                            <input th:id="'btnUpdate' + ${menuItem.getId()}" class="btn btn-success" type="submit"
                                   value="Add">
                            <!--                            <input type="checkbox" name="selectedMenuItems" th:value="${menuItem.id}"/>-->
                        </td>
                    </form>
                </tr>
            </th:block>
        </table>
    </div>

    <div class="card mt-0">
        <div class="section-header card-title text-white bg-secondary p-2 text-center">Update Menu Items</div>
        <table class="table" id="updateItems">
            <thead>
            <tr>
                <th>Dish Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <th:block th:each="menuItem : ${menuItems}">
                <tr>
                    <form th:action="@{'/restaurant/' + ${menuItem.id} + '/editRestaurantMenuItem'}"
                          th:method="post"
                          th:object="${menuItem}" class="form-group">
                        <td>
                            <div class="form-control" th:dish_type="${dish_types}">
                                <select class="form-control" th:id="'menu_category' + ${menuItem.id}"
                                        th:name="menu_category">
                                    <option th:each="dish_type : ${dish_types}"
                                            th:value="${dish_type.id}"
                                            th:text="${dish_type.description}"
                                            th:selected="${menuItem.getMenuCategory().getId() == dish_type.getId()}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input th:id="'MenuItem' + ${menuItem.id}" th:value="${menuItem.id}"
                                   class="form-control" th:required="required" th:name="menuItemId" type="hidden"/>

                            <input th:id="'title' + ${menuItem.id}" th:value="${menuItem.getTitle()}"
                                   class="form-control" th:required="required" th:name="title"/>
                        </td>
                        <td>
                            <input th:id="'description' + ${menuItem.id}" th:value="${menuItem.getDescription()}"
                                   class="form-control" th:required="required" th:name="description"/>
                        </td>
                        <td>
                            <input th:id="'price' + ${menuItem.id}" th:value="${menuItem.getPrice()}"
                                   name="price" class="form-control" th:required="required"/>
                        </td>
                        <td>
                            <input th:id="'btnUpdate' + ${menuItem.id}" class="btn btn-warning" type="submit"
                                   value="Update">
                        </td>
                    </form>
                    <td>
                        <form th:action="@{'/restaurant/' + ${menuItem.id} + '/deleteRestaurantMenuItem'}"
                              th:method="post"
                              th:object="${menuItem}" class="form-group">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</section>
<!--    Footer-->
<div class="mt-5" th:replace="fragments/footer :: main-footer"></div>
</body>
</html>