<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div class="container">
    <!--Nav bar-->
    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <span>
            <th:block th:if="not ${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar :: main-navbar"></div>
            </th:block>
            <th:block th:if="${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar-admin :: main-navbar"></div>
            </th:block>
        </span>
    </th:block>
    <th:block th:if="not ${#authorization.expression('isAuthenticated()')}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <!--    Middle section-->
    <section class="mt-5">
        <div class="page-header">Create a new Cuisine Category</div>
        <form th:action="@{/cuisine/add}" th:method="post" th:object="${cuisine}" class="form-group">
            <label for="cuisine">Category</label>
            <br>
            <input id="cuisine" th:field="${cuisine.description}" class="form-control" th:required="required"/>
            <br>
            <input type="submit"/>

        </form>
        <!--    Footer-->
        <div class="mt-5" th:replace="fragments/footer :: main-footer"></div>
    </section>

</div>
</body>
</html>