<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintain Categories</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<!--Main Div-->

<!--Nav bar-->
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <span>
            <th:block th:if="not ${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar :: main-navbar"></div>
            </th:block>
            <th:block th:if="${#authentication.principal.isAdmin}">
                <div th:replace="fragments/navbar-admin :: main-navbar"></div>
            </th:block>
        </span>
</th:block>
<th:block th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</th:block>
<!--    Middle section-->
<div class="container">
    <section class="mt-5">

        <div class="page-header">Cuisine Categories</div>
        <table class="table">
            <thead>
            <tr>
                <th>Category</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
            </thead>
            <div th:each="cuisineCategory : ${cuisineCategories}">
                <tr>
                    <td>
                        <label th:text="${cuisineCategory.description}"></label>
                    </td>
                    <td>
                        <form th:action="@{'/cuisine/' + ${cuisineCategory.id} + '/edit'}" method="get"
                              th:object="${cuisineCategory}">
                            <input class="btn btn-warning btn-sm" type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/cuisine/' + ${cuisineCategory.id} + '/delete'}" method="post"
                              th:object="${cuisineCategory}">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </div>
        </table>
        <div>
            <form th:action="@{/cuisine/add}" method="get">
                <input class="btn btn-success btn-sm" type="submit" value="Add">
            </form>
        </div>
    </section>

</div>
<div>&nbsp;</div>
<!--    Footer-->
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>