<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h1>Aero Food</h1>

<footer id="footer" class="footer-font-size font-type footer" style="background-color: #D22234; color: #ffffff" th:fragment="main-footer">

    <div class="text-center">
        <p>Aero Food</p>
        <a style="color: #ffffff" href="/about">About</a>
    </div>
</footer>

<!--    Color palette-->
<!--    #392A6A         purple-->
<!--    #088B9C         blue-->
<!--    #D22234         red-->
<!--    #A6B23B         yellow-->
<!--    #F4691A         orange-->
<!--    #E74F77         pink-->
