
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h1>AeroFood</h1>

<footer id="footer" class="page-footer fixed-bottom" style="background-color: #D22234; color: #ffffff" th:fragment="main-footer">

    <div class="text-center" style="margin-top: 14px">
        <h3>AeroFood</h3>
    </div>
    <div class="text-center">
        <h5><a style="color: #ffffff" href="/about">About</a></h5>
    </div>
</footer>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<h1>Aero Food</h1>-->

<!--<footer id="footer" class="page-footer" th:fragment="main-footer">-->

<!--    <div class="bg-primary text-white">-->
<!--        <div class="text-center"><h4 class="text-white">Aero Food</h4><a href="/about" class="text-white">About</a></div>-->
<!--    </div>-->
<!--</footer>-->




<!--    Color palette-->
<!--    #392A6A         purple-->
<!--    #088B9C         blue-->
<!--    #D22234         red-->
<!--    #A6B23B         yellow-->
<!--    #F4691A         orange-->
<!--    #E74F77         pink-->
