<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar font-type admin-font navbar-expand-lg fixed-top" th:fragment="main-navbar"
     style="z-index: 3; position: fixed; top: 0px; left: 0px; width: 100%; background-color: #D8D8D8 ;"
     id="navbarSupportedContentAdmin">
    <div><span class="admin-font">
                    <i class="fas fa-users-cog"></i>
                </span><a class="nav-item " href=""><span class="admin-font">AeroFood</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul id="middleNav" class="navbar-nav" style="border: 0px; margin: 0px; width: 100%;">
            <li class="nav-item  "><a href="/search"><span class="admin-font">Preview</span></a></li>
            <li class="nav-item "><a href="/cuisine/index"><span class="admin-font">Cuisines</span></a></li>
            <li class="nav-item "><a href="/menuCategory/index"><span class="admin-font">Menu Categories</span></a></li>
            <li class="nav-item "><a href="/menuItem/index"><span class="admin-font">Menu Items</span></a></li>
            <li class="nav-item "><a href="/restaurant/index"><span class="admin-font">Update Restaurants</span></a></li>

        </ul>
    </div>
    <div>
<!--        -->
        <ul id="adminNavBar2" class="navbar-nav navlinktext " >
            <li sec:authorize="isAuthenticated()">
                <a  href="#" th:href="@{/logout}"><span class="admin-font my-2 my-sm-0">Log Out</span></a>
            </li>


        </ul>
    </div>
</nav>
