<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar" th:fragment="main-navbar">
    <ul>
        <li id="list3"><span>Aero Food</span></li>
        <li id="list1"><span><a href="/home">Home</a></span></li>
        <li sec:authorize="isAnonymous()" id="list2"><span><a href="/register">Register</a></span></li>
        <li id="list4"><span><a href="/search">Restaurants</a></span></li>
        <li sec:authorize="isAnonymous()" id="list5"><a href="/login">Login</a></li>
        <li sec:authorize="isAuthenticated()"><span><a href="/my-orders">My Orders</a></span></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button style="background-color: white; border: 0px; width: 80px; margin: 0; padding: 0;"  >Logout</button>
            </form>
        </li>
    </ul>
</nav>