<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg" th:fragment="main-navbar">
    <ul>
        <li id="list1" ><h5><a href="/home">Home</a></h5></li>
        <li id="list2" ><h5><a href="/register">Register</a></h5></li>
        <li id="list3" ><h4>Aero Food</h4></li>
        <li id="list4" ><h5><a href="/search">Restaurants</a></h5></li>

        <li><h5><a href="/menuCategory/index">Menu Categories</a></h5></li>
        <li><h5><a href="/cuisine/index">Cuisine Categories</a></h5></li>
        <li><h5><a href="/restaurant/index">Manage Restaurants</a></h5></li>
        <li><h5><a href="/menuItem/index">Manage Items</a></h5></li>
        <li><h5><a href="/my-orders">My Orders</a></h5></li>

        <li id="list5" ><h5><a href="/login">Login</a></h5></li>
        <li id="list6" ><h5><a href="/logout">Logout</a></h5></li>

    </ul>
</nav>