<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar" th:fragment="main-navbar" style="z-index: 3; position: fixed; top: 0px; left: 0px; width: 100%; background-color: white; opacity: 100%;">
    <ul>
        <li id="list3"><span>Aero Food</span></li>
        <li id="list1"><span><a href="/home">Home</a></span></li>

        <li id="list4"><span><a href="/search">Restaurants</a></span></li>
        <li><span><a href="/menuCategory/index">Menu Categories</a></span></li>
        <li><span><a href="/cuisine/index">Cuisine Categories</a></span></li>
        <li><span><a href="/restaurant/index">Manage Restaurants</a></span></li>
        <li><span><a href="/menuItem/index">Manage Items</a></span></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button style="background-color: white; border: 0px; width: 80px; margin: 0; padding: 0;"  >Logout</button>
            </form>
        </li>
    </ul>

</nav>