<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--image logo-->
<nav class="navbar navbar-nav navbar-toggleable-sm font-type nav-font-size navbar-expand-lg fixed-top pos-f-t"
     style="background-color: #FF2D32"
     th:fragment="main-navbar">
    <a class="brand" href="/"><img  id="aeroFoodImg" src="/img/AeroFood-nav.png" th:src="@{../img/AeroFood-nav.png}"/></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span style="color: white"><i class="fas fa-bars fa-1x"></i></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" style="float: right" id="navbarSupportedContent1" >
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link navlinktext" href="/search" style="color: white">Restaurants</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="isAuthenticated()" class="nav-link navlinktext disabled" href="/my-orders"
                   style="color: white">History<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlinktext" style="color: #ffffff" href="/about">About</a>
            </li>
            <li class="nav-item pull-right">
                <a sec:authorize="isAnonymous()" class="nav-link navlinktext" href="/login" style="color: white">Sign
                    In</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a href="#" th:href="@{/logout}" class="nav-link navlinktext " style="color: white">Log Out</a>
            </li>
        </ul>
    </div>
</nav>