<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>
<div class="container ">
    <div class="page-header">Log In</div>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-group"></div>
        <label for="username">Username</label><br>
        <input id="username" name="username" type="text" placeholder="username" class="form-control"/><br>


        <label for="password">Password</label><br>
        <input id="password" name="password" type="password" class="form-control"/><br>


        <input type="submit" value="Log In"/>
    </form>
    <br>
    <br>

    <p>Don't have an account?</p>
    <a href="/register">Register</a>
</div>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>
