
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text=" ${error}"></title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>

<div th:replace="fragments/navbar :: main-navbar"></div>

<h1 class="page_title push-spaces">Error</h1>
<body>
<th:block th:switch="${error}">
    <th:block th:case="'Not Found'">
        <h1>Page not found!!</h1>
    </th:block>
    <th:block th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
    </th:block>
</th:block>
<h1 th:text="' Ooops, ' + ${error}"></h1>
<a class="brand" href="/">Home</a>
</body>
</html>

