/*Elements*/

body {
    margin: 0;
    /*font-family: 'Indie Flower', cursive;*/
    /*background-color: #eef2db;*/
    /*color: #A0522D;*/
    /*font-family: 'Source Code Pro', monospace;*/
}

button {
    margin-left: 200px;
    margin-right: 200px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style: none;
}

li {
    display: inline;
    list-style-type: none;
    margin: .25em;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}

/*Element ID*/
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#mainDiv{
    display: grid;
    grid-template-rows: 10% 90%;
    max-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
}
#orderDetail {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    /*//justify-content: space-around;*/
    margin: 10em;
}
#restaurantList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*max-height: 100vh;*/
    /*justify-content: space-around;*/
    overflow: auto;
}

/*Classes*/
.btn-delete {
    width: 5em;
}

.card {
    display: flex;
    align-content: center;
    padding: .25em;
    margin-top: 7em;
    margin-right: 5em;
    margin-bottom: 5em;
    margin-left: 5em;
    /*height: 400px;*/
    /*box-shadow: .2em .2em .2em .2em #888888;*/
    height: 20em;
}


.card-title {
    /*color: #3F3C3C;*/
    text-shadow: .1em .1em lightgrey;
}

.card-body {
    color: #a8a660;
}

.cuisine-type{
    font-size: smaller;
    color: #888888;
}
.restaurant-list-container{
    margin-left: 5em;
    margin-right: 5em;
}
.lightgreen {
    color: #dadfbc;
}

.orange {
    color: #e88e01;
}

.page-header {
    font-size: 2em;

}

.section-header {
    font-size: 1.5em;
}

.sub-section-header {
    font-size: 1em;
}
.menu-tile{
    /*height: 240px;*/
    max-width: 300px;
    margin: 1em;
    border: 1em;

}