<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>
<section class="container">
    <h1 class="page_title">Update Post</h1>
    <form th:action="@{'/category/' + ${id} + '/edit'}" th:method="post"  th:object="${category}">
        <div class="container">
            <div class="form-group">
                Body:
                <textarea th:field="*{description}"/>
            </div>
            <input type="hidden" th:field="*{id}">
            <input class="btn btn-warning" type="submit" value="Update">

        </div>
    </form>
</section>

</body>
</html>