<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<h3>About</h3>

<h1>Laura Vela</h1>
<a href="https://alumni.codeup.com/students/702"><img src="https://s3.amazonaws.com/alumni.codeup.com/LauraG.jpg" alt="Laura"></a>

<h1>Mark Strange</h1>
<a href="https://alumni.codeup.com/students/716"><img src="https://s3.amazonaws.com/alumni.codeup.com/MarkS.jpg" alt="Mark"></a>

<h1>Alex Ahrens</h1>
<a href="https://alumni.codeup.com/students/705"><img src="https://s3.amazonaws.com/alumni.codeup.com/AlexA.jpg" alt="Alex"></a>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>