<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aero Food | About</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<h3 id="about-title">About</h3>
<!--Laura-->
<div id="laura-about" class=""><a href="https://alumni.codeup.com/students/702">Laura alumni portal</a></div>

<!--Mark-->
<div id="mark-about" class=""><a href="https://alumni.codeup.com/students/716">Mark alumni portal</a></div>

<!--Alex-->

<div id="alex-about" class=""><a href="https://alumni.codeup.com/students/705">Alex alumni portal</a></div>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>