<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Aero Food | Home</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body style="background-image: url('/css/img/airport-board.jpg'); no-repeat: center center">
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>


<!--<img src="../static/css/img/airport-board.jpg" height="1392" width="1300"/>-->
<!--<section class="container">-->
<!--    <div class="jumbotron"  style="background-image: url(/css/img/airport-board.jpg); width=1300;">-->
<!--        <h1>Do you have to catch a flight and do not have enough time to get food?</h1>-->
<!--&lt;!&ndash;        <p class="lead">Join Aerofood and get the food deliver to your terminal gate</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p><a href="http://www.YourLinkHere.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="jumbotron">-->
<!--        <div class="container push-spaces">-->
<div class="main-header">
    <h1>Aerofood</h1>
    <h1>Do you have to catch a flight and do not have enough time to get food?</h1>
    <p class="lead">Join Aerofood and get the food deliver to your terminal gate</p>
    <p><a href="http://www.YourLinkHere.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>
<!--        </div>-->
<!--    </div>-->

<!--</section>-->

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>