<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Aero Food | Home</title>
    <th:block th:replace="fragments/header :: main-header"/>

</head>
<body>
<!--<img src="static/img/aerofood-logo.png">-->
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
</div>


<section class="container font-type">
    <div class="card">
        <div class="row">
            <div class="col">
                <h3>Still getting your food yourself?
                    Let us help!</h3>
                <form action="/register" method="GET">
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
            <div class="red-line"></div>
            <div class="col">
                <h3>Already a user?</h3>
                <form action="/login" method="GET">
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <div th:sec:authorize="${#authorization.expression('isAuthenticated()')}" class="card">
        <h3 th:sec:authorize="${#authorization.expression('isAuthenticated()')}"> Welcome, <span sec:authentication="name"></span></h3>

        <div>
            <span th:text="${#authentication.principal.isAdmin}"></span>
        </div>

        <div>
            <span th:text="${#authentication.principal.email}"></span>
        </div>
        <div>
            <span th:text="${#authentication.principal.username}"></span>
        </div>
        <div>
            <span th:text="${#authentication.principal.phone_number}"></span>
        </div>


        <h4>See Whats Available</h4>
        <form action="/search" method="GET">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>


</section>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>