<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>AeroFood | Home</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body style="height: 100vh;" class="homeImageSAT">

<div th:replace="fragments/navbar :: main-navbar"></div>

<section class="container d-flex flex-column">

    <div class="main-header d-flex flex-column card" style="margin-top: 15em; margin-bottom: 2em">


        <h2 class="card-title mt-1" style="font-size: 24pt">Need to catch a flight, but don't have time to grab a bite?</h2>


        <div sec:authorize="isAnonymous()" class="card-body">
            <p style="font-size: 18pt">Don't wait, join AeroFood!</p>
            <p style="font-size: 18pt">Get the food delivered to your gate.</p>

        </div>


        <div sec:authorize="isAnonymous()" class="nav-item text-center">
            <a class="nav-link navlinktext text-center" href="/register" style="background-color: #FF2D32; color: white; font-size: larger; border-radius: 15px; width: 20vw; margin-right: auto; margin-left: auto; margin-bottom: 1em">Sign Up</a>
        </div>

                <div sec:authorize="isAuthenticated()" class="nav-item text-center">
                    <a class="nav-link navlinktext text-center" href="/search" style="background-color: #FF2D32; color: white; font-size: larger; border-radius: 15px; width: 20vw; margin-right: auto; margin-left: auto; margin-bottom: 1em">Search available restaurants</a>
                </div>

    </div>

</section>

<!--<div th:replace="fragments/footer :: main-footer"></div>-->
</body>
</html>