<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Aero Food | Payment</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>
<h3>Payment</h3>

<a href="/checkout">Back to Cart</a>

<a href="/order-confirmation">Payment Complete</a>

<!--<div th:replace="fragments/footer :: main-footer"></div>-->

</body>
</html>