<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>
<div class="page-header">Search for a Restaurant</div>

<div class="container">
    <div class="column">
        <div th:each="restaurants : ${restaurants}">
            <br>
            <a th:href="@{'/restaurants/' + ${restaurants.id}}">
                <h3 th:text="${restaurants.name}"></h3></a>
            <img th:src="${restaurants.thumbnail}" alt="" height="100" width="100">
                <p> Gate <span th:text="${restaurants.gate}"></span></p>
            <p> Phone: <span th:text="${restaurants.phone_number}"></span></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>