<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Aero Food | Home</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>

<h1>this is the cart page</h1>

<div th:each="product : ${items.entrySet()}">
    <div>
        <h1 th:text="${product.getKey().getTitle()}"></h1>
    </div>
</div>

<h3> Total in Cart = <span th:text="${total}"></span></h3>

<h3> Total With Tax = <span th:text="${totalTax}"></span></h3>

<form  th:action="@{'/shoppingCart/checkout'}" method="GET">
    <h4 class="remove-margin">Delivery Gate</h4>
    <input  id="checkout_address" name="checkout_address" type="text" />
    <br/>
    <div>
        <script
                th:method="POST"
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_j75Rf78ZCFhDGGrirhsEM0I300mcaSFYtv"
                th:attr="data-amount=${totalStripe}"
                data-name="AeroFood"
                data-description='Meal Delivery'
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">
        </script>
    </div>
</form>


</body>
</html>