<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
<!--    <title>Aero Food | ${restaurants.name} Menu</title>-->
    <title th:text="${restaurants.name}"> Menu</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <style>
        .card {
            display: flex;
            align-content: center;
            padding: .25em;
            margin-top: 1em;
            margin-right: 2em;
            margin-bottom: 1em;
            margin-left: 2em;
            /*height: 400px;*/
            box-shadow: .2em .2em .2em .2em #888888;
            /*height: 10em;*/
        }
        .card-body {
            padding: .5em;
            color: black;
        }
    </style>
</head>
<body>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>

        <div class="container">
            <div id="outer" style="width:350px;height:240px; overflow:hidden;">
                <div id="inner">
                    <img th:src="${restaurants.getPicture_url()}" alt="" height="240">
<!--                    <h1 th:text="${restaurants.getName()}" class="display-3"></h1>-->
                </div>
            </div>
        </div>

<h2 th:text="${restaurants.getName()}" class="display-4 font-weight-bolder text-center"></h2>

<div class="d-flex flex-row mb-2">
    <a class="ml-2 btn btn-warning" href="/search" role="button">Back</a>
<!--    <a class="ml-auto mr-2" href="/shoppingCart">Proceed to Checkout</a>-->

    <a class="btn btn-success ml-auto mr-2" href="/shoppingCart" role="button">Proceed to Checkout</a>

</div>




<div class="container">
    <div class="d-flex flex-column">
        <div th:each="menu : ${menu}">

            <div class="card d-flex flex-column">
                <div class="card-body">

                <h3 class="card-title"><span th:text="${menu.title}"></span></h3>
                <p class="card-text"><span th:text="${menu.description}"></span></p>
                <p class="ml-auto"> $<span th:text="${menu.price}"></span></p>


                        <form method="POST" th:action="@{'/restaurants/' + ${menu.restaurant.id} + '/' +  ${menu.id}}">
                            <input type="submit" value="ADD TO CART" class="btn btn-success" />
                        </form>

                </div>
         </div>

        </div>
    </div>
</div>

<a href="/shoppingCart">Proceed to Checkout</a>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</html>