<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Aero Food ${restaurants.name} Menu</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<h1 th:text="${restaurants.name}"></h1>

<h1 th:text="${restaurants.id}"></h1>

<a href="/search">Back &#x21A9;</a>
<hr>


<div class="container">
    <div class="column">
        <div th:each="menu : ${menu}">

            <p>restaurant id <span th:text="${menu.restaurant.id}"></span></p>
            <p>title <span th:text="${menu.title}"></span></p>
            <p>description <span th:text="${menu.description}"></span></p>
            <p>type <span th:text="${menu.dish_type}"></span></p>
            <p>price <span th:text="${menu.price}"></span></p>
            <button>Add</button>
            <hr>
            <hr>

        </div>
    </div>
</div>

<a href="/checkout">Proceed to Checkout</a>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>