<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Aero Food | ${restaurants.name} Menu</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<div id="container">
<body>
<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>

<!--    <div class="d-none d-lg-block">-->
    <div style="background-size: cover;" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div id="outer" style="width:350px;height:240px; overflow:hidden;">
                <div id="inner">
                    <img th:src="${restaurants.getPicture_url()}" alt="" height="240">
                    <h1 th:text="${restaurants.getName()}" class="display-3"><strong></strong></h1>
                </div>
<!--    </div>-->
            </div>
        </div>
    </div>





<!--<h1 th:text="${restaurants.id}"></h1>-->

<a href="/search">Back &#x21A9;</a>
<hr>


<div class="container">
    <div class="column">
        <div th:each="menu : ${menu}">


<!--            <p><span th:text="${menu.restaurant.id}"></span></p>-->
            <p><span th:text="${menu.title}"></span></p>
            <p><span th:text="${menu.description}"></span></p>
            <p><span th:text="${menu.getMenuCategory().getDescription()}"></span></p>
            <p><span th:text="${menu.price}"></span></p>
            <button>Add</button>
            <hr>
            <hr>
            <div></div>
        </div>
    </div>
</div>

<a href="/checkout">Proceed to Checkout</a>

<div th:replace="fragments/footer :: main-footer"></div>

</body>
</div>
</html>