<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>AeroFood | Sign Up</title>
<head>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<div class="container">
    <h1 class="page-header" style="color: #D22234; margin-bottom: 60px; font-size: 36pt;"><a href="/">AeroFood</a></h1>
</div>
<div class="container" style="display: flex; justify-content: center;">
    <div class="card" style="width: 50%; margin-bottom: -34px; margin-top: -20px">
        <div class="page-header" style="margin-top: 15px; color: #D22234">Sign Up</div>
        <div class="card-body">
            <form th:action="@{/sign-up}" th:method="POST" th:object="${user}" class="form-group">
                <label for="username">Username</label>
                <input id="username" th:field="*{username}" class="form-control" style="border-radius: 5px; height: 60px; font-size: 20pt;" placeholder="username" th:required="required"/>

                <br>
                <label for="email">Email</label>
                <input id="email" th:field="*{email}" placeholder="email" class="form-control" style="border-radius: 5px; height: 60px; font-size: 20pt;" th:required="required"/>

                <br>
                <label for="phone_number">Phone Number</label>
                <input id="phone_number" th:field="*{phone_number}" placeholder="phone" class="form-control" style="border-radius: 5px; height: 60px; font-size: 20pt;" th:required="required"/>

                <br>
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control" style="border-radius: 5px; height: 60px; font-size: 20pt;" th:required="required"/>
                <br>
                <input value="Sign me up!" class="btn btn-lg" style="font-size:15pt; margin-left: 9em; color: #FFFFFF; background-color: #D22234;" type="submit"/>
            </form>
        </div>
    </div>
</div>
<div class="container" style="display: flex; justify-content: center; margin-bottom: 57px">
    <div class="card" style="width: 35%;">
        <p class="text-center registration">Already a User?</p>
        <a class="text-center" href="/login">Login</a>
    </div>
</div>

<!--    <div th:replace="fragments/footer :: main-footer"></div>-->

</div>
</body>
</html>