<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Aero Food | Sign Up</title>
<head>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>
<div class="container">
    <div class="page-header">Create an account</div>
    <div th:if="${error}">
        <br>
        <div th:text="${error}"></div>

        <br>
    </div>
    <form th:action="@{/sign-up}" th:method="POST" th:object="${user}" class="form-group">
                <label for="username">Username</label>
                <input id="username" th:field="*{username}" class="form-control" placeholder="username" th:required="required"/>
            
            <br>
                <label for="email">Email</label>
                <input id="email" th:field="*{email}" placeholder="email" class="form-control" th:required="required"/>
            
            <br>
                <label for="phone_number">Phone Number</label>
                <input id="phone_number" th:field="*{phone_number}" placeholder="phone" class="form-control" th:required="required"/>
            
            <br>
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control" th:required="required"/>
            

        <br>
        <input value="Sign me up!" type="submit"/>
    </form>

    <br>
    <br>
    <p>Already a User?</p>
    <a href="/login">Login</a>

    <div th:replace="fragments/footer :: main-footer"></div>

</div>
</body>
</html>