<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>AeroFood</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <style>
        .card {
            display: flex;
            align-content: center;
            padding: .25em;
            margin-top: 1em;
            margin-right: 2em;
            margin-bottom: 1em;
            margin-left: 2em;
            /*height: 400px;*/
            box-shadow: .2em .2em .2em .2em #888888;
            /*height: 10em;*/
        }
        .card-body {
            padding: .5em;
            color: black;
        }
    </style>
</head>
<body class="successImage">
<!--Nav bar-->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</div>
<div th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</div>

<div>
    <div class="card" STYLE="margin-top: 12em">
        <h1 class="text-center">Completed Order</h1>
        <div class="card-body">
            <h3><span class="text-capitalize" th:text ="${#authentication.principal.username}"></span>, thank you for your order!</h3>
            <h4>Your order number is: #<span th:text="${order_num}"></span></h4>
            <h4>Your order will be delivered to gate <span th:text="${gate}"></span></h4>
        </div>

    </div>
</div>


</body>
</html>