<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu Item</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<!--<div th:replace="fragments/navbar :: main-navbar"></div>-->
<!--Nav bar-->
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <th:block th:if="not ${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar :: main-navbar"></div>
    </th:block>
    <th:block th:if="${#authentication.principal.isAdmin}">
        <div th:replace="fragments/navbar-admin :: main-navbar"></div>
    </th:block>
</th:block>
<th:block th:if="not ${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/navbar :: main-navbar"></div>
</th:block>
<section class="container">

    <form th:action="@{'/menuItem/' + ${menuItem.id} + '/editItem'}" th:method="post" th:object="${menuItem}">
        <div class="admin-page-header">Update Menu Item</div>
        <form th:action="@{/menuItem/addItem}" th:method="post" th:object="${menuItem}" class="form-group">
            <label for="title">Add a menu item</label>
            <br>
            <input id="title" th:field="${menuItem.title}" class="form-control" placeholder="Title" th:required="required"/>
            <br>
            <label for="description">Description</label>
            <br>
            <input id="description" th:field="${menuItem.description}" class="form-control" placeholder="Description" th:required="required"/>
            <br>
            <label>Dish Type</label>
            <div class="col-lg-3" th:dish_type="${dish_types}">
                <select class="form-control" id="menu_category" name="menu_category">
                    <option th:each="dish_type : ${dish_types}"
                            th:value="${dish_type.id}"
                            th:text="${dish_type.description}"
                            th:selected="${menuItem.getMenuCategory().getId() == dish_type.getId()}"></option>
                </select>
            </div>
            <label for="price">Price</label>
            <br>
            <input id="price" th:field="${menuItem.price}" class="form-control" placeholder="99.99" th:required="required"/>
            <br>
            <input class="btn btn-warning white-text" type="submit" value="Update Item">
        </form>
    </form>
</section>
</body>
</html>